body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	color: white;
	background-color: #849d8f;
}

a {
  color: white;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.default-list {
	list-style: none;
}

.site-navigation {
	margin: 0;
	padding: 0;
}

.site-navigation-catalog a:hover {
	padding: 8px 15px;
	border-radius: 20px;
	background-color: #f7f6f3;
	color: black;
	
}

.site-navigation-catalog:active {
	box-shadow: inset 0px 2px 1px 0px #666666;
}

.site-navigation-catalog .selected {
	padding: 8px 15px;
	border-radius: 20px;
	color: white;
	background-color: #d07058;
}

.site-navigation-catalog-items {
	margin: 0;
	padding: 5px 5px;
	background-color: #f7f6f3;
	width: 145px;
	border-radius: 5px;
	text-align: left;

}

.site-navigation-catalog a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.site-navigation-catalog-item:first-child a {
	font-weight: bold;
}

.site-navigation-catalog-item {
	padding: 5px 15px 0px;
	margin-bottom: 10px;
}

.site-navigation-catalog li:first-of-type {
	border-bottom: 1px solid #d1d0ce;
}

.site-navigation-catalog-item a:hover {
	background-color: #fbded7;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

.search-button {
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background: #a1b4a9;
	border-radius: 20px;
	background-image: url("../img/svg/loupe.svg");
	padding: 15px;
	border: none;
}

.button {
  font-size: : 32px;
  line-height: 44px

  text-align: center;
  vertical-align: middle;

  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover,
.button:focus {
 background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
 background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
 background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
 	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.offer {
	font-size: 18px;
	
}

.offer h3 {
	font-size: 35px;
	line-height: 41px;

}

.raspberry {
	background-image: url("../img/raspberru-background.jpg");
}

.chocolate {
	background-image: url("../img/choco-background.jpg");
}

.about .index-column {
	color: black;
	background-image: url("../img/waffle-pattern.jpg");
}

.index-column h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.about-list li {
	font-weight: normal;

}

.preview {
	color: #5a5a5a;
	background-image: url("../img/strawberry-background.png");
}

.preview h2 {
	font-size: 16px;
	font-weight: 500;
}

.preview a {
	font-size: 24px;
	line-height: 30px;
	color: #353535;
}

.subscription {
	background-image: url("../img/post-background.png");
	color: #5a5a5a;
}

.index-map {
	background-image: url("../img/map.png");
}

.map-adress {
	color: #323232;
	background-color: #fefefe;
	width: 300px;
}

.map-adress h3, .map-adress p {
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
}

.map-adress b {
	font-size: 18px;
}

input {
	padding: 10px;
	border-radius: 5px;
}